@import "tailwindcss";

:root {
  font-family: 'JetBrains Mono', monospace;
  color: #A5A7AC;
  background: #262626;
}



.editor {
  background: #262626
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 38px;
  background: #2B2D30;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 12px;
  border: 1px solid #1E1F22;
  z-index: 1000;
}

.menu {
    background: #2B2D30
}